# localhost {
arbochelli.download {
    templates
    encode gzip
    rewrite / {uri}?sort=name&order=desc

    file_server {
        hide .git* tmp *.html .mscbackup
        browse template.html
    }

    handle_errors {
        rewrite * /{http.error.status_code}
        reverse_proxy https://http.cat
    }

    log {
        format json
        output file /tmp/arbochelli.log
    }
}

log.arbochelli.download {
    reverse_proxy http://localhost:3000
}

rewrite /muse-dash-option-theme         /pdf/Muse_Dash_-_Option_Theme.pdf
rewrite /sing-yesterday-ep-9            /pdf/Sing_Yesterday_for_Me_-_Episode_9.pdf
rewrite /potsu-lookin-up                /pdf/potsu_-_lookin_up.pdf
rewrite /archosaur-city-b1              /pdf/Perfect_World_-_City_B1__Archosaur.pdf
