# localhost
arbochelli.download

templates
encode gzip
rewrite / {uri}?sort=name&order=desc

file_server {
    hide .git* tmp *.html .mscbackup
    browse template.html
}

handle_errors {
    rewrite * /{http.error.status_code}
    reverse_proxy https://http.cat
}

log {
    output file /tmp/arbochelli.log
}
