/* dark 6 style */

html, body, .meta {
    background: none #141414;
}

body * {
    background-color: transparent;
}

div[id] {
    background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

h2 a:visited, h3 a:visited {
    color: #DFDFDF;
    background-color: #363037;
}

table {
    background-color: #232323;
    border-color: #333;
}

table table {
    background: #191919;
}

th, caption {
    background-color: #353535;
}

input *, textarea * {
    color: #DDD;
}

html:root input[type="image"] {
    opacity: .85;
}

html:root input[type="image"]:hover {
    opacity: .95;
}

hr {
    background: none #444
}

.current {
    color: #FFF;
}

h1, nav, menu, html body [class*="open"], html body [id*="Dropdown"], html body [id*="dropdown"], html body [class*="Dropdown"], html body [class*="dropdown"], html body [id*="menu"]:not(SELECT), html body [class*="menu"]:NOT(SELECT), html body [class*="tooltip"], html body [class*="popup"], html body [id*="popup"], html body [class*="note"], html body [class*="detail"], html body [class*="description"] {
    background-color: #232323
}

* {
    color: #CCC;
    outline-color: #444;
    text-shadow: none;
}

html *:after, html *:before {
    color: #CCC;
    border-color: #666;
    background: none transparent;
}

a:link, a:link *:not(img) {
    color: #B1CBF7;
    background-color: transparent;
    border-color: #666;
}

a:visited, a:visited * {
    color: #CDB4E7;
}

html [href*="#"]:hover {
    background-color: transparent;
}

svg {
    background: none #666;
}

.g .r {
    background-color: transparent;
}

div.vsc:hover>.vspi, div.vso>.vspi {
    background: none transparent;
    border: none;
}

/* end style */

body {
    font-family: sans-serif;
    text-rendering: optimizespeed;
    background-color: #ffffff;
}

a {
    color: #006ed3;
    text-decoration: none;
}

a:hover, h1 a:hover {
    color: #319cff;
}

header, #summary {
    padding-left: 5%;
    padding-right: 5%;
}

th:first-child, td:first-child {
    width: 5%;
}

th:last-child, td:last-child {
    width: 5%;
}

header {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #141414;
}

main {
    display: block;
}

.meta {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    border-bottom: 1px solid #9C9C9C;
    padding-top: 10px;
    padding-bottom: 10px;
}

.meta-item {
    margin-right: 1em;
}

#filter {
    padding: 4px;
    border: 1px solid #CCC;
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px dashed #dadada;
}

tbody tr:hover {
    background-color: #282828;
}

th, td {
    text-align: left;
    padding: 10px 0;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    white-space: nowrap;
}

th a {
    color: black;
}

th svg {
    vertical-align: middle;
}

td {
    white-space: nowrap;
    font-size: 14px;
}

td:nth-child(2) {
    width: 80%;
}

td:nth-child(3), th:nth-child(3) {
    padding: 0 20px 0 20px;
}

th:nth-child(4), td:nth-child(4) {
    text-align: center;
}

td:nth-child(2) svg {
    position: absolute;
}

td .name, td .goup {
    margin-left: 1.75em;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.icon {
    margin-right: 5px;
}

.icon.sort {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: .2em;
}

.icon.sort .top {
    position: absolute;
    left: 0;
    top: -1px;
}

.icon.sort .bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
}

footer {
    background: none #141414;
    padding: 20px 20px;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 600px) {
    .hideable {
        display: none;
    }
    td:nth-child(2) {
        width: auto;
    }
    th:nth-child(3), td:nth-child(3) {
        padding-right: 5%;
        text-align: right;
    }
    h1 {
        color: #000;
    }
    h1 a {
        margin: 0;
    }
    #filter {
        max-width: 100px;
    }
}

hr {
    width: 7%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* other */

#bmc-wbtn {
    background: rgb(255, 221, 0) none repeat scroll 0% 0% !important;
}